{% extends 'base.html' %}
{% block content %}
    <h2>{{ versions_app.first.application }}</h2>
    {% load crispy_forms_filters %}
    <table class='table mb-0'>
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Created at</th>
            <th>Download</th>
            <th>Version</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for version in versions_app %}
            <tr>
                <td>{{ version.pk }}</td>
                <td>
                    {% if version.name %}
                        {{ version.name }}
                    {% else %}
                        {{ versions_app.first.application }}
                    {% endif %}
                </td>
                <td>{{ version.created_at | date:"d/m/Y H:i" }} {{ TIME_ZONE }}</td>
                <td>
                    <a href="{% url 'install' version.pk %}">
                        Install
                    </a>
                </td>
                <td>{{ version.version_name }}</td>
                <td>
                    <form method="POST" action="{% url 'version-delete' version.pk %}">
                        {% csrf_token %}
                        <button class='btn btn-danger btn-sm'>Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
