{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_filters %}
    {% load qr_code %}
    <div align="center">
    <h2>Install Application</h2>
    <h3>{{ version.application.app_name }}</h3>
    <h3>{{ version.application.pk }}</h3>
    {% qr_from_text "itms-services://?action=download-manifest&url=https://ios.spaceshare.vn/media/files/spaceshare.plist" size="S" %}
    <br>
    <button class='mt-4 btn btn-primary' onclick="window.location.href='itms-services://?action=download-manifest&url=https://ios.spaceshare.vn/media/files/spaceshare.plist'">Install</button>
    </div>
{% endblock %}
