{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_filters %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="Submit" class='mt-4 btn btn-primary'>Upload</button>
    </form>
    <table class='table mb-0'>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Upload date</th>
            <th>Download</th>
            <th>QR Code</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for item in files %}
            <tr>
                <td>{{ item.pk }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.created_at | date:"d/m/Y" }}</td>
                <td>
                    <a href="{{ item.file.url }}" class='btn btn-primary btn-sm' target="blank">Download File</a>
                </td>
                <td>
                    <a href="{% url 'file-upload-qrcode' item.pk %}">
                        QR code
                    </a>
                </td>
                <td>
                    <form method="POST" action="{% url 'file-upload-delete' item.pk %}">
                        {% csrf_token %}
                        <button class='btn btn-danger btn-sm'>Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}
